//----------------------------------------------------
// Colours
//----------------------------------------------------

$success:                 #51CC3C; //green
$warn:                    #FD8026; //orange
$danger:                  #C7000D; //red

$link-color:             #3333FF; //horrible blue
$link-color-hover:       #330066; //dark blue

$text-color:             #333;
